#GridRuta {
  margin-left: auto;
}

.content {
  width: 100%;
  padding-top: 2%;
  display: flex;
}

thead {
  display: block;
}

tbody {
  overflow-y: scroll;
  display: block;
  height: 43vh;
}

#articulos-seleccionados > thead > tr > th {
  min-width: 8vw;
  max-width: 8vw;
}

#articulos-seleccionados > tbody > tr > td {
  min-width: 8vw;
  max-width: 8vw;
}

.right {
  padding-right: 2%;
  width: 60rem;
}

.left {
  padding-right: 3%;
  padding-left: 2%;
  width: 80rem;
}

#check {
  padding: 5%;
}

#idContentWrapperVentas {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 30px;
  padding-bottom: 10px;
  min-height: calc(100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px));
  position: relative;
}

ng-form {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#tabladerecha {
  border-right: 0px;
}

#tablaizquierda {
  border-left: 0px;
}

#tablaafuera {
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
}

#TABLAizq {
  border-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
}

#TABLAder {
  border-bottom: 0px;
  border-top: 0px;
  border-right: 0px;
}

#header {
  height: 40px;
  width: 100%;

  background: rgb(211, 139, 81);
  text-align: center;
  color: white;
  font: bold 25px Arial;
  text-decoration: uppercase;
  letter-spacing: 20px;
}

#logo {
  float: left;
}

#items {
  clear: both;
  width: 100%;
  margin: 30px 0 0 0;
  border: 1px solid black;
}

#items td.description {
  width: 300px;
}

#items td.balance {
  background: #eee;
}

#items td.blank {
  border: 0;
}

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  overflow: hidden;
}
body.swal2-height-auto {
  height: auto !important;
}
