<div id="idContentWrapper" class="content-wrapper">
  <ul class="breadcrumb" id="MarcoTitulosH3">
    <h3 id="TitulosH3">Clientes</h3>
    <li id="GridRuta" class="breadcrumb-item active" aria-current="page">
      <a href="/home">Home</a>&nbsp;/&nbsp; Clientes
    </li>
  </ul>

  <p class="d-flex flex-column" style="margin-left: auto">
    <button
      type="button"
      class="btn btn-info"
      data-toggle="modal"
      data-target="#clienteModal"
      (click)="actualizarButtonConfirmacion(true)"
      (click)="onResetForm()"
    >
      <span class="fas fa-plus"></span>
      Agregar Clientes
    </button>
  </p>

  <h1></h1>

  <!-- Modal -->

  <div
    class="modal fade bd-example-modal-lg"
    id="clienteModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="clienteModalLabel"
    aria-hidden="true"
    data-backdrop="static"
    data-keyboard="false"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5
            *ngIf="esObjetoNuevo"
            style="text-transform: uppercase"
            class="modal-title"
            id="clienteModalLabel"
          >
            Agregar Cliente
          </h5>
          <h5
            *ngIf="!esObjetoNuevo"
            style="text-transform: uppercase"
            class="modal-title"
            id="clienteModalLabel"
          >
            Modificar Cliente
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!-- Body del Modal -->
        <div class="modal-body">
          <div
            class="card"
            style="
              padding-left: 10px;
              padding-right: 10px;
              padding-bottom: 10px;
              background-color: rgb(252, 252, 252);
            "
          >
            <form
              id="formulario-agregar-cliente"
              name="formulario-agregar-cliente"
              style="padding-top: 10px"
              [formGroup]="contactFormulario"
              (ngSubmit)="onSaveForm()"
            >
              <div class="form-group">
                <div class="row col-xs-12">
                  <div class="form-group col-md-4">
                    <strong>Nombre</strong>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-file-signature"></i>
                        </span>
                      </div>
                      <input
                        id="inputNombreCliente"
                        name="nombreCliente"
                        [(ngModel)]="objetoCliente.firstName"
                        type="text"
                        class="form-control"
                        formControlName="name"
                      />
                    </div>
                    <div
                      class="alert-danger"
                      *ngIf="name?.invalid && name?.dirty"
                      role="alert"
                    >
                      <div
                        class="container-error-message"
                        *ngIf="name?.errors?.required"
                      >
                        <i
                          style="padding-left: 5px"
                          class="fas fa-exclamation-circle"
                        ></i>
                        El Campo es Obligatorio
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <strong>Apellido</strong>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-signature"></i>
                        </span>
                      </div>
                      <input
                        id="inputApellido"
                        name="apellidoCliente"
                        [(ngModel)]="objetoCliente.lastName"
                        type="text"
                        class="form-control"
                        formControlName="apellido"
                      />
                    </div>
                    <div
                      class="alert-danger"
                      *ngIf="apellido?.invalid && apellido?.dirty"
                      role="alert"
                    >
                      <div
                        class="container-error-message"
                        *ngIf="apellido?.errors?.required"
                      >
                        <i
                          style="padding-left: 5px"
                          class="fas fa-exclamation-circle"
                        ></i>
                        El Campo es Obligatorio
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <strong>Condicion IVA</strong>
                    <ng-select
                      name="cliente.ivaCondition.value"
                      [(ngModel)]="objetoCliente.ivaCondition.value"
                      formControlName="condicioniva"
                    >
                      <ng-option
                        value="{{ iva.value }}"
                        *ngFor="let iva of listaCondicionesIva"
                        >{{ iva.name }}
                      </ng-option>
                    </ng-select>
                    <div
                      class="alert-danger"
                      *ngIf="condicioniva?.invalid && condicioniva?.touched"
                      role="alert"
                    >
                      <div
                        class="container-error-message"
                        *ngIf="condicioniva?.errors?.required"
                      >
                        <i
                          style="padding-left: 5px"
                          class="fas fa-exclamation-circle"
                        ></i>
                        El Campo es Obligatorio
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row col-xs-12">
                  <div class="form-group col-md-6">
                    <strong>Razon Social</strong>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-building"></i>
                        </span>
                      </div>
                      <input
                        id="inputRazonSocial"
                        name="razonSocial"
                        [(ngModel)]="objetoCliente.businessName"
                        type="text"
                        class="form-control"
                        formControlName="razonsocial"
                      />
                    </div>
                    <div
                      class="alert-danger"
                      *ngIf="razonsocial?.invalid && razonsocial?.dirty"
                      role="alert"
                    >
                      <div
                        class="container-error-message"
                        *ngIf="razonsocial?.errors?.required"
                      >
                        <i
                          style="padding-left: 5px"
                          class="fas fa-exclamation-circle"
                        ></i>
                        El Campo es Obligatorio
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-2">
                    <strong>Tipo</strong>
                    <ng-select
                      name="cliente.idType"
                      [(ngModel)]="objetoCliente.idType"
                      formControlName="tipo"
                      (ngModelChange)="habilitarCuit()"
                    >
                      <ng-option
                        value="{{ tipoDoc.value }}"
                        *ngFor="let tipoDoc of listaTipoDocumento"
                        >{{ tipoDoc.name }}</ng-option
                      >
                    </ng-select>
                    <div
                      class="alert-danger"
                      *ngIf="tipo?.invalid && tipo?.touched"
                      role="alert"
                    >
                      <div
                        class="container-error-message"
                        *ngIf="tipo?.errors?.required"
                      >
                        <i
                          style="padding-left: 5px"
                          class="fas fa-exclamation-circle"
                        ></i>
                        Obligatorio
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-4" *ngIf="!esCuit">
                    <strong>Numero</strong>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-address-card"></i>
                        </span>
                      </div>
                      <input
                        id="inputDocumento"
                        name="documento"
                        [(ngModel)]="objetoCliente.idNumber"
                        type="text"
                        [readonly]="docSoloLectura"
                        class="form-control"
                        formControlName="documento"
                        (input)="numbersOnlyValidator($event)"
                        mask="00000000"
                      />
                    </div>
                    <div
                      class="alert-danger"
                      *ngIf="documento?.invalid && documento?.dirty"
                      role="alert"
                    >
                      <div
                        class="container-error-message"
                        *ngIf="documento?.errors?.required"
                      >
                        <i
                          style="padding-left: 5px"
                          class="fas fa-exclamation-circle"
                        ></i>
                        El Campo es Obligatorio
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-4" *ngIf="esCuit">
                    <strong>Numero</strong>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-address-card"></i>
                        </span>
                      </div>
                      <input
                        id="inputCUIT"
                        name="cuit"
                        [(ngModel)]="objetoCliente.idNumber"
                        type="text"
                        [readonly]="docSoloLectura"
                        class="form-control"
                        formControlName="cuit"
                        (input)="numbersOnlyValidator($event)"
                        mask="00-00000000-0"
                      />
                    </div>
                    <div
                      class="alert-danger"
                      *ngIf="cuit?.invalid && cuit?.dirty"
                      role="alert"
                    >
                      <div
                        class="container-error-message"
                        *ngIf="cuit?.errors?.required"
                      >
                        <i
                          style="padding-left: 5px"
                          class="fas fa-exclamation-circle"
                        ></i>
                        El Campo es Obligatorio
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row col-xs-12">
                  <div class="form-group col-md-4">
                    <strong>Direccion</strong>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-map-marker"></i>
                        </span>
                      </div>
                      <input
                        id="inputDireccion"
                        name="direccion"
                        type="text"
                        [(ngModel)]="objetoCliente.address"
                        class="form-control"
                        formControlName="direccion"
                      />
                    </div>
                    <div
                      class="alert-danger"
                      *ngIf="direccion?.invalid && direccion?.dirty"
                      role="alert"
                    >
                      <div
                        class="container-error-message"
                        *ngIf="direccion?.errors?.required"
                      >
                        <i
                          style="padding-left: 5px"
                          class="fas fa-exclamation-circle"
                        ></i>
                        El Campo es Obligatorio
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-3">
                    <strong>Provincia</strong>
                    <ng-select
                      name="listaProvincias"
                      [(ngModel)]="objetoProvincia.name"
                      (change)="buscarCiudades()"
                      formControlName="provincia"
                    >
                      <ng-option
                        value="{{ provincia.name }}"
                        *ngFor="let provincia of listaProvincias"
                        formcontrol="provincia"
                        >{{ provincia.name }}</ng-option
                      >
                    </ng-select>
                    <div
                      class="alert-danger"
                      *ngIf="provincia?.invalid && provincia?.touched"
                      role="alert"
                    >
                      <div
                        class="container-error-message"
                        *ngIf="provincia?.errors?.required"
                      >
                        <i
                          style="padding-left: 5px"
                          class="fas fa-exclamation-circle"
                        ></i>
                        Obligatorio
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-3">
                    <strong>Ciudad</strong>
                    <ng-select
                      name="listaCiudades"
                      [readonly]="campoSoloLectura"
                      [(ngModel)]="objetoCliente.city.name"
                      (change)="habilitarCodigoPostal()"
                      formControlName="ciudad"
                    >
                      <ng-option
                        value="{{ c.name }}"
                        *ngFor="let c of listaCiudades"
                        >{{ c.name }}</ng-option
                      >
                    </ng-select>
                    <div
                      class="alert-danger"
                      *ngIf="ciudad?.invalid && ciudad?.touched"
                      role="alert"
                    >
                      <div
                        class="container-error-message"
                        *ngIf="ciudad?.errors?.required"
                      >
                        <i
                          style="padding-left: 5px"
                          class="fas fa-exclamation-circle"
                        ></i>
                        Obligatorio
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-2">
                    <strong>CP</strong>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-map-marked-alt"></i>
                        </span>
                      </div>
                      <input
                        id="inputCP"
                        type="text"
                        readonly="true"
                        name="ZIP"
                        [(ngModel)]="objetoCliente.city.zipCode"
                        class="form-control"
                        formControlName="cdpostal"
                      />
                    </div>
                    <!--Aca va la validacion-->
                  </div>
                </div>

                <div class="row col-xs-12">
                  <div class="form-group col-md-4">
                    <strong>Fecha de Nacimiento</strong>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-calendar-alt"></i>
                        </span>
                      </div>
                      <input
                        id="inputFechaNacimiento"
                        name="fechaNacimiento"
                        type="date"
                        [(ngModel)]="objetoCliente.birthdayDate"
                        class="form-control"
                        formControlName="fechanac"
                      />
                    </div>
                    <div
                      class="alert-danger"
                      *ngIf="fechanac?.invalid && fechanac?.touched"
                      role="alert"
                    >
                      <div
                        class="container-error-message"
                        *ngIf="fechanac?.errors?.required"
                      >
                        <i
                          style="padding-left: 5px"
                          class="fas fa-exclamation-circle"
                        ></i>
                        Obligatorio
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-4">
                    <strong>E-Mail</strong>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-envelope"></i>
                        </span>
                      </div>
                      <input
                        id="inputMail"
                        type="text"
                        name="mail"
                        [(ngModel)]="objetoCliente.email"
                        class="form-control"
                        formControlName="email"
                      />
                    </div>
                    <div
                      class="alert-danger"
                      *ngIf="email?.invalid && email?.dirty"
                    >
                      <div
                        class="container-error-message"
                        *ngIf="
                          email?.dirty &&
                          email?.invalid &&
                          email?.errors?.pattern
                        "
                      >
                        <i
                          style="padding-left: 5px"
                          class="fas fa-exclamation-circle"
                        ></i>
                        Direccion E-Mail Invalida.
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-4">
                    <strong>Telefono</strong>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-phone"></i>
                        </span>
                      </div>
                      <input
                        id="inputTelefono"
                        name="telefono"
                        type="tel"
                        [(ngModel)]="objetoCliente.phoneNumber"
                        class="form-control"
                        (input)="numbersOnlyValidator($event)"
                        formControlName="telefono"
                        mask="000-000-0000"
                      />
                    </div>
                    <div
                      class="alert-danger"
                      *ngIf="telefono?.invalid && telefono?.dirty"
                      role="alert"
                    >
                      <div
                        class="container-error-message"
                        *ngIf="telefono?.errors?.required"
                      >
                        <i
                          style="padding-left: 5px"
                          class="fas fa-exclamation-circle"
                        ></i>
                        Obligatorio
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row col-xs-12"></div>
              </div>
              <div class="form-group" style="text-align: center">
                <div class="form-row" style="height: 50px">
                  <div class="form-group col-md-9" *ngIf="esObjetoNuevo">
                    <button
                      type="submit"
                      class="btn btn-success btn-block form-control"
                      (click)="guardarCliente()"
                      data-dismiss="modal"
                      style="height: 50px"
                      [disabled]="!contactFormulario.valid"
                    >
                      <i class="fas fa-check"></i> Agregar Cliente
                    </button>
                  </div>
                  <div class="form-group col-md-9" *ngIf="!esObjetoNuevo">
                    <button
                      (click)="modificarCliente()"
                      style="height: 50px"
                      type="submit"
                      class="btn btn-success form-control"
                      data-dismiss="modal"
                      [disabled]="!contactFormulario.dirty"
                    >
                      <i class="fas fa-check"></i> Actualizar
                    </button>
                  </div>
                  <div class="form-group col-md-3">
                    <button
                      type="button"
                      class="btn btn-secondary form-control"
                      (click)="cancelarCliente()"
                      data-dismiss="modal"
                      style="height: 50px"
                    >
                      <i class="fas fa-window-close"></i> Cancelar
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row col-xs-12">
    <div class="form-group col-md-2">
      <div class="input-group-prepend">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="filtroBusquedaNombre"
          name="filtroBusquedaNombre"
          (ngModelChange)="listarClientes()"
          aria-label="Cliente"
          aria-describedby="inputGroup-sizing-default"
          placeholder="Nombre"
        />
      </div>
    </div>
    <div class="form-group col-md-2">
      <div class="input-group-prepend">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="filtroBusquedaApellido"
          name="filtroBusquedaApellido"
          (ngModelChange)="listarClientes()"
          aria-label="Cliente"
          aria-describedby="inputGroup-sizing-default"
          placeholder="Apellido"
        />
      </div>
    </div>
    <div class="form-group col-md-4">
      <div class="input-group-prepend">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="filtroBusquedaRazonSocial"
          name="filtroBusquedaRazonSocial"
          (ngModelChange)="listarClientes()"
          aria-label="Cliente"
          aria-describedby="inputGroup-sizing-default"
          placeholder="Razón Social"
        />
      </div>
    </div>
    <div class="form-group col-md-4">
      <div class="input-group-prepend">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="filtroBusquedaTelefono"
          name="filtroBusquedaTelefono"
          (ngModelChange)="listarClientes()"
          aria-label="Cliente"
          aria-describedby="inputGroup-sizing-default"
          placeholder="Telefono"
        />
      </div>
    </div>
  </div>

  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="clientes"
      role="tabpanel"
      aria-labelledby="clientes-tab"
    >
      <div class="card shadow">
        <div class="card-body">
          <table
            class="
              display
              nowrap
              dataTable
              dtr-inline
              collapsed
              table-bordered table-striped
            "
            id="listado_proveedores"
            role="grid"
          >
            <thead>
              <tr>
                <th scope="col">Nombre Completo</th>
                <th scope="col">Direccion</th>
                <th scope="col" style="width: 150px">Documento</th>
                <th scope="col" style="width: 150px">Telefono</th>
                <th scope="col" style="width: 80px">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let c of listaClientes
                    | paginate
                      : {
                          itemsPerPage: itemsPage,
                          currentPage: page,
                          totalItems: totalItems
                        }
                "
              >
                <td>
                  {{ c.firstName + " " + c.lastName + " - " + c.businessName }}
                </td>
                <td>
                  {{
                    c.address +
                      " - " +
                      c.city.name +
                      " - " +
                      c.city.province?.name
                  }}
                </td>
                <td>{{ c.idType + " - " + c.idNumber }}</td>
                <td>{{ c.phoneNumber }}</td>

                <td>
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic example"
                  >
                    <button
                      type="button"
                      class="btn btn-outline-warning btn-block"
                      data-dismiss="modal"
                      data-toggle="modal"
                      data-target="#clienteModal"
                      style="border-radius: 4px"
                      (click)="seleccionClienteModificacion(c)"
                    >
                      <span class="fas fa-edit"></span>
                      <!--MODIFICAR-->
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-danger"
                      (click)="eliminarCliente(c.id)"
                      style="margin-left: 10px; border-radius: 4px"
                    >
                      <span class="fas fa-trash-alt"></span>
                      <!--ELIMINAR-->
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr></tr>
            </tfoot>
          </table>
          <div class="row" style="padding-top: 30px">
            <div class="col-sm-6">Total de elementos: {{ totalItems }}</div>
            <div class="col-sm-6">
              <ng-select
                style="width: 200px; margin-left: auto"
                name="example_length"
                placeholder="Cantidad items"
                [(ngModel)]="itemsPage"
                (change)="listarClientes()"
              >
                <ng-option value="5">5</ng-option>
                <ng-option value="10">10</ng-option>
                <ng-option value="20">20</ng-option>
                <ng-option value="50">50</ng-option>
              </ng-select>
            </div>
          </div>
        </div>
        <pagination-controls
          (pageChange)="page = $event; listarClientes()"
          style="margin-left: auto; padding-right: 30px"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>
