#GridDashboard {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  min-height: calc(100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px));
  position: relative;
}

.card {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
